{% extends 'base.html'%}
{% block content %}

    <div class="container bcontent mt-5">
      <h2>Instance</h2>
      <hr />
      {% for instance in user_instances %}
      <div class="card" style="width: 700px; margin-left:200px">
          <div class="row no-gutters">  
            <div class="card-body">
              <h5 class="card-title">{{instance.user_id}}</h5>
              <p class="card-text">{{instance.instance_key}}</p>
              <p class="card-text">{{instance.instance_token}}</p>
              {% comment %} <form> {% endcomment %}
                {% if not instance.qrscanned %}
              <a href="{% url 'generate_qr' instance.pk %}" class="btn btn-primary">generate Qr</a>
              {% endif %}
                {% comment %} </form> {% endcomment %}
            </div>
          </div>
      </div>
      {% endfor %}
  </div>

{% endblock %}