{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css">


<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.dataTables.min.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.css">
<link href="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.css" rel="stylesheet"> 
<link href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.bootstrap5.css" rel="stylesheet"> 
<script src="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.js"></script>


<div class="heading mt-4" style="text-align:center;font-weight:bold;font-size:28px;">
    <h3>LOGS</h3>
</div>
    {% comment %} <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" >
            <thead class="thead-dark ">
                <tr>
                    <th>Instance Name</th>
                    <th>Instance Key</th>
                    <th>Excel name</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Duration</th>
                    <th>Successfull</th>
                </tr>
            </thead>
                {% for log in logs %}
                <tr>
                    <td>{{ log.instance.instance_name }}</td>
                    <td>{{ log.instance.instance_key }}</td>

                    <td>{{ log.excel_name}}</td>
                    
                    <td>{{ log.started_at }}</td>
                    <td>{{ log.ended_at }}</td>
                    <td>
                        {% if log.duration != None%}
                        {{log.duration}}s
                        {% else %}
                        {{log.duration}}
                        {% endif %}
                    </td>

                    <td>{% if log.successfull %} 
                            Completed 
                        {% else %} 
                            {% if log.ended_at == None %}
                                In progress
                            {% else %}
                                Failed
                            {% endif %}
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endcomment %}
<div class="card-body">
    <div class="table-responsive p-5">
    <table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Chatsphere Name</th>
                    {% comment %} <th>Instance Key</th> {% endcomment %}
                    <th>phonenumber</th>
                    <th>Excel name</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Duration</th>
                    <th>Successfull</th>
        </tr>
    </thead>
    <tbody>
        
        {% for log in logs %}
                <tr>
                    <td>{{ log.instance.instance_name }}</td>
                    {% comment %} <td>{{ log.instance.instance_key }}</td> {% endcomment %}
                    <td>{{ log.instance.phone_number }}</td>

                    <td>{{ log.excel_name}}</td>
                    
                    <td>{{ log.started_at }}</td>
                    <td>{{ log.ended_at }}</td>
                    <td>
                        {% if log.duration != None%}
                        {{log.duration}}s
                        {% else %}
                        {{log.duration}}
                        {% endif %}
                    </td>

                    <td>{% if log.successfull %} 
                            Completed 
                        {% else %} 
                            {% if log.ended_at == None %}
                                In progress
                            {% else %}
                                Failed
                            {% endif %}
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
        
    </tbody>
    
</table>

</div>
</div>
<script>
    $(document).ready(function() {
        new DataTable('#example');
    });

</script>


{% endblock %}