{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

<style>
    #loading-gif {
        display: none; 
    }

    body {
        background: #f5f5f5;
    }
    
    .rounded-lg {
        border-radius: 1rem;
    }
    
    .nav-pills .nav-link {
        color: #555;
        font-size:30px;
        font-weight: 600;
    }
    
    .nav-pills .nav-link.active {
        color: #fff;
    }
    
</style>
<script>

</script>
</head>
<body>

<div class="container py-3">  
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <div class="modal-header">
                    <ul role="tablist" class="nav nav-pills  nav-fill">
                        <div class="nav-link" id="staticBackdropLabel">Create instance</div>
                    </ul>
                     <a class="btn btn-outline-danger my-1 my-sm-0 mr-sm-1" href="{% url 'home' %}">X</a>
                  </div>
                <div class="alert alert-primary mt-2" role="alert">
                    Your QR CODE will be refreshed in&nbsp;<span id="countdown" ></span> &nbsp;Seconds ...
                </div>
                <div class="tab-content">
                    <div id="nav-tab-card" class="tab-pane fade show active">
                        <p class="m-5"></p>
                        <div class="form-group d-flex justify-content-center align-items-center" >
                            <img id="imageElement" src="" height="200" width="200" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function() {
        var image = document.getElementById("imageElement");

        if (image.src === "") {
            document.getElementById("loading-gif").style.display = "block";
            image.src = "loading.gif";
            image.onload = function() {
                document.getElementById("loading-gif").style.display = "none";
            };
        }
    };

document.addEventListener("DOMContentLoaded", function() {
    var countdownElement = document.getElementById("countdown");
    var countdownValue = 20;
    function updateCountdown() {
        countdownElement.textContent = countdownValue;
        countdownValue--;
        if (countdownValue < 0) {
            //clearInterval(intervalId);
            countdownElement.textContent = "Countdown Ended";
            countdownValue = 20
        }
    }
    var intervalId = setInterval(updateCountdown, 1000);
});


let key = "{{instance_key}}";
let token="Instance token";
let init_url ="http://localhost:3333/instance/init?key="+key+"&token="+token;
let img_url="http://localhost:3333/instance/qrbase64?key="+key ;
console.log(img_url)
console.log(init_url)

async function imageResponse(){
    try{
        console.log(img_url)
      // const initResponse = await fetch(init_url, {
      //      method: "GET",
      //     redirect:"follow",
       // });
        //console.log(initResponse)
        const imgResponse = await fetch(img_url, {
            method: "GET",
            redirect:"follow",
        })
        console.log(imgResponse)
        const imgBody = await imgResponse.text();
        console.log("Body content:", imgBody);
        let jsonBodyObj=JSON.parse(imgBody);

        document.getElementById("imageElement").src = JSON.parse(imgBody).qrcode;
        if (imgBody.qrcode !== " " || imgBody.qrcode !== "" || imgBody.qrcode !== null || imgBody.qrcode !== undefined) {
            //console.log("Qrcode content:", JSON.parse(imgBody).qrcode);
            console.log("Qrcode content:", jsonBodyObj.qrcode);
            console.log("Image is not empty.");
            
        } else {
           console.log("Image is empty or does not exist.");
           imageResponse();
        }
    }
    catch (error) {
        console.error('Error:', error);
    }

}
imageResponse();
setInterval(imageResponse, 20000);




const check_url="http://localhost:3333/instance/info?key="+key ;

async function checkResponse(){
    try{
        console.log(check_url)
        const response = await fetch(check_url, {
            method: "GET",
            redirect:"follow",
            headers: {
                'Accept': '*/*',
                'Accept-Encoding': 'gzip, deflate, br',
                'Connection': 'keep-alive',
            }
        })
        console.log(response)
        const body = await response.text();
        console.log("Body content:", body);
        let jsonObj=JSON.parse(body);

        if (jsonObj.instance_data && Object.keys(jsonObj.instance_data.user).length !== 0) {
            console.log("User is not empty.");
            window.location.href = "{% url 'messaging' instance_id %}?success=true";
        } else {
            console.log("User is empty or does not exist.");

        }
    }
    catch (error) {
       console.error('Error:', error);
    }

}
checkResponse();
setInterval(checkResponse, 5000);

</script>

</body>
</html>
{% endblock %}